body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#indexedWordsTable {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#indexedWordsTable thead {
  margin-right: 18px;
}

#indexedWordsTable tbody {
  overflow: auto;
}

#indexedWordsTable tr {
  display: flex;
}

#indexedWordsTable th, #indexedWordsTable td {
  flex: 1 1;
}